{% extends "base.html" %}
{% load staticfiles %}
{% block des %}
    This is just a dumy meta aaded manually to test the workflow.
{% endblock %}
{% block title %}
    Search - Perfect Cushion Store
{% endblock %}
{% block content %}
    <div>
        <p class="text-center my_search_class">You have searched for <b>{{ query }}</b></p>
    </div>
<!-- Below lines are copied from category.htnl -->
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <!--object_list is added to products for the paginator object to iterate -->
                <div class="my_button_margin col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card text-center" style="min-width: 18rem;">
                        <a href="{{ product.get_url }}"><img class="card-img-top my-image" src="{{product.image.url}}" alt="Product Image"/></a>
                        <div class="card-body text-center">
                            <h3>{{product.name}}</h3>
                            <h4>${{product.price}}</h4>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_class">0 results found - try using other word</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}