body {
    font-family: 'Roboto', sans-serif;
}

/*** Navbar ***/
.nav-item {
    letter-spacing: .2 em;
    font-size: 14 px;
    text-transform: uppercase;
}
.dropdown-item {
    font-size: 14 px;
    letter-spacing: .2 em;
    text-transform: uppercase;
}

/*** Footer ***/
.my-footer {
    background-color: #f8f9fa;
    height: 60 px;
}

.my-footer p {
    padding-top: 20px;
    font-size: 14 px;
}

/*** Category ***/
.my_row_class {
    padding-top: 15px;
}

.my_row_class p {
    color: #000;
    font-size: 12 px;
}

.my_row_class p a{
    color: #000;
    font-size: 12 px;
    text-decoration: none;
}

.my_img_class {
    width:100%;
    height:auto;
}

.my_title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2 em;
}

.my_image_padding {
    padding-top: 5px;
}

.my_button_margin {
    margin-bottom:10px;
}

.card-body h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2 em;
}

/***Product page ***/

.my_prod_row {
    padding-top: 15px;
    padding-bottom: 20px;
}

.my_prod_row .mx-auto p {
    color: #000;
    font-size: 12px;
}
.my_prod_row .mx-auto p a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.my_prod_title {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 15px;
    letter-spacing: .2 em;
    padding-bottom: 10px;
}

.my_prod_text {
    padding-right:20px;
}